.Image{
    .Mainframe {
    
        overflow: hidden;
        width: 390px;
        height: 100vh;
        border-radius: 25px;
        background: #BEADFA;
        border: 1px solid black;
    }
    .Status_bar {
        width: 390px;
        height: 47px;
        background-color: #BEADFA;
        border-radius: 25px 25px 0 0;
        position: absolute;
    }
    .MainTitle {
        padding-top:0px;
        padding-left:125px;
        padding-bottom:5px;
        padding-right: 24px;
        color: #FFF;
        text-align: right;
        font-family: Noto Sans KR;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        background-color: #BEADFA;
    /* 91.667% */
        letter-spacing: -0.408px;
    }
    .SubTitle{
        padding-right: 24px;
        padding-bottom:10px;
        background-color: #BEADFA;
        color: #FFF;
        text-align: right;
        font-family: Noto Sans KR;
        font-size: 18px;
        font-style: normal;
        font-weight: 350;
        line-height: 22px; /* 122.222% */
        letter-spacing: -0.408px;
    
    }
    .Content{
        width: 390px;
        height: 642px;
        background-color:white;
    }
    .ExplainBotton{
        padding-left:15px;
        padding-top:31px;
        margin-left:27px;
        margin-bottom:20px;
        width: 325px;
        height: 74px;
        flex-shrink: 0;
        border-radius: 16px;
        background: #FFF;
    }
    .Explain{
        color: #000;
        font-family: Noto Sans KR;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
    
    }
    .UploadBox{
        margin-left:27px;
        margin-bottom:10px;
        padding-top:121px;
        padding-left:136px;
        width: 200px;
        height: 205px;
        flex-shrink: 0;
        border-radius: 16px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .UploadIcon {
        width: 64px;
        height: 64px;
        flex-shrink: 0;
    }
    .SuccessIcon {
        width: 64px;
        height: 64px;
    }

    .YesBotton {
    font-size: 18px;
    color: white;
    border: 0;
    background-color: transparent;
    width: 217px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(90deg, #BEADFA 0%, #DFCCFB 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: block;
    margin: auto;
    margin-top: 54px;
    }
    .Yes{
        color: #FFF;
        text-align: center;
        font-family: Noto Sans KR;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 262.5% */
        letter-spacing: -0.408px;
    }
}