.Nav_componenet {
    background-color: #BEADFA;
    width: 100%;
    height: 80px;
    padding-top: 47px;
    .hamberger {
        float: right;
        width: 35px;
        height: auto;
    }
    .bugerbutton {
        border: 0;
        background: none;
        padding-top: 10px;
        padding-right: 24px;
        float: right;
        width: 35px;
        height: auto;
    }
    .logo {
        float: left;
        width: 86px;
        height: auto;
    }
}

