.Nav_componenet {
    z-index: 1;
    position: relative;
    background-color: #BEADFA;
    width: 100%;
    height: 20vh;

    .hamberger {
        float: right;
        width: 35px;
        height: auto;
    }
    .bugerbutton {
        border: 0;
        background: none;
        padding-top: 10px;
        padding-right: 24px;
        float: right;
        width: 35px;
        height: auto;
    }
    .logo {
        float: left;
        width: 86px;
        height: auto;
    }

    #OnBugerElement {
        visibility: visible;
        padding-top: 6vh;
    }

    #OffBugerElement {
        visibility: hidden;
        padding-top: 6vh;
    }
}

